.product-page {
  font-family: OpenSans, sans-serif;;

  .pp__header {
    padding: 20px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 30px;
    }

    .pp__header__title {
      font-family: Abhaya Libre;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.09;
      letter-spacing: normal;
      color: #222222;
      margin: 0;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
  
    .pp__header__price {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #666666;
  
      margin: 0;
      margin-top: 2px;
    }
  }
  
  @media (min-width: 1024px) {
    .pp-product{
      overflow: auto;
      padding-left: 11%;
      padding-right: 10%;

      .pp__header {
      }

      .pp__images {
      }
    }
    
  }
}