@import '../../ui-core/colors';

.product-page {
  font-family: OpenSans, sans-serif;;

  .pp__header {
    padding: 20px;
    text-align: center;
    font-style: normal;
    font-stretch: normal;

    .pp__header__title {
      font-family: Abhaya Libre;
      font-size: 22px;
      font-weight: 500;
      line-height: 1.09;
      letter-spacing: normal;
      color: $font-color-dark;
      margin: 0;
    }
  
    .pp__header__price {
      font-size: 15px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      color: $font-color-light-grey;
      margin: 2px 0 0 0;
    }
  }
  @media (min-width: 768px) {
    .pp__header {
      padding: 30px;

      .pp__header__title {
        font-size: 24px;
      }
    }
  }

  @media (min-width: 1024px) {
    .pp-product{
      overflow: auto;
      padding-left: 11%;
      padding-right: 10%;
      padding-top: 68px;

      .pp__header {
        padding: 30px;
        width: 40%;
        float: right;
      }
    }
  }
}