@import '../colors';

.uc-color-picker {
  padding-bottom: 12.5px;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: 1.5px;
  color: $color-picker-font-color;

  .uc-cp__selection {
    font-weight: 600;
    text-transform: uppercase;
  }

  .uc-cp-options {
    padding-top: 15px;

    .uc-cp-options__item {
      width: 29.4px;
      height: 30px;
      background-color: $color-picker-background-option-color;
      display: inline-block;
      border-radius: 50%;
      margin-right: 25.5px;
      cursor: pointer;

      &.selected {
        border: solid 3px $color-picker-border-color-selected-option;
        width: 26.4px;
        height: 27px;
      }

      &.naked-1 {
        background-color: $naked-1;
      }

      &.naked-2 {
        background-color: $naked-2;
      }

      &.naked-3 {
        background-color: $naked-3;
      }

      &.naked-4 {
        background-color: $naked-4;
      }

      &.naked-5 {
        background-color: $naked-5;
      }
    }
  }
}