@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.product-images {
  .pi__wrapper {
    .pi__wrapper__image {
      width: 100%;
    }
  }

  .pi-image-dots {
    text-align: center;
    padding: 0;
    margin-top: -30px;
    position: relative;

    @media (min-width: 1024px) {
      display: none;
    }

    .pi-image-dots__dot {
      display: inline-block;
      border-radius: 50%;
      width: 7px;
      height: 7px;
      background-color: #cccccc;
      margin-right: 10px;
      
      @media (min-width: 768px) {
        width: 9px;
        height: 9px;
      }

      &.selected {
        background-color: #444444;
      }
    }
  }

  .pi-image-list {
    display: none;
  }

  @media (min-width: 1024px) {
    display: flex;
    width: 50%;
    float: left;

    .pi__wrapper {
      width: 90%;

      .pi__wrapper__image{
        width: 100%;
        float: left;
      }
    }

    .pi-image-list {
      display: inline-block;
      width: 74px;
      padding: 0;
      margin: 0;
      padding-right: 10px;

      .pi-image-list__thumbnail {
        height: 82px;
        width: 74px;
        float: left;
        margin-bottom: 10px;

        &.selected {
          border: solid 1px #888888;
        }
      }
    }
  }
}